* {
  box-sizing:border-box
}
  body{
    margin:0;
    font-family: "Century Gothic", Arial, sans-serif;
    background:#f4f6f9;
    color:#222;
    justify-content: center;
    align-items: center;
  }